%nav.navbar.navbar-inverse.navbar-fixed-top role="navigation"
    %div.navbar-header
        %a.navbar-brand href="/"
            Пиар

    %ul.nav.navbar-right.top-nav
        %li.dropdown
            %a.dropdown-toggle data-toggle="dropdown" href="#"
                %i.fa.fa-user.fa-fw
                = "  "
                = current_user.name
                %b.caret
            %ul.dropdown-menu.dropdown-user
                %li
                    %a href="/"
                        %i.fa.fa-fw.fa-user
                        = "Профиль"

                %li.divider
                %li
                    %a href="/sessions/delete"
                        %i.fa.fa-fw.fa-power-off
                        = "Выход"

    %ul.nav.navbar-nav.side-nav
        %li
            %a href="/bots"
                %i.fa.fa-fw.fa-user
                ВК Аккаунты
        %li
            %a href="/handlers"
                %i.fa.fa-fw.fa-history
                Обработчики
        %li
            %a href="/mass_reports"
                %i.fa.fa-fw.fa-envelope
                Массовая рассылка
        %li
            %a href="/groups"
                %i.fa.fa-fw.fa-users
                Группы
        %li
            %a href="/dobavs"
                %i.fa.fa-fw.fa-plus
                Группы Пиара
