<!DOCTYPE html>
%html
  %head
    %title Пиар
    %link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet"
    %link href="/static/stylesheets/jquery-ui.min.css" rel="stylesheet"
    %link href="/static/stylesheets/admins/sb-admin.css" rel="stylesheet"
    %link href="/static/stylesheets/admins/plugins/morris.css" rel="stylesheet"
    %link href="/static/stylesheets/admins/font-awesome.min.css" rel="stylesheet" type="text/css"
    %link href="/static/stylesheets/admins/admins.css" rel="stylesheet" type="text/css"

    %script src="/static/javascripts/markdown/jquery.min.js"
    %script src="/static/javascripts/admins/jquery-1.11.0.js"
    %script src="/static/javascripts/admins/bootstrap.min.js"
    %script src="/static/javascripts/admins/application.js"
    %script src="/static/javascripts/jquery.dataTables.min.js"
    %script src="/static/javascripts/jquery-ui.min.js"

  %body
    %div#wrapper
      %div#wrapper
        {% include 'layouts/_navigation.haml' %}
      %div#page-wrapper
        {% include 'layouts/_notification.haml' %}
        %div.container-fluid
          {% block body %}
          {% endblock %}
