.right_button {
  padding-top: 20px;
  float: right;
}

th.number {
  width: 50px;
}

html {
  background-color: white;
}

.cursor-pointer{
  cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
  background-color: #FFF;
}

.fa-check{
    color: #00FF39;
    font-size: 22px;
}


.font_size_10{
    font-size: 10px;
}