{% extends "layouts/application.haml" %}
{% block body %}
    -if handler.errors:
        %div.alert.alert-danger
            -for error in handler.errors.values():
                %p << {{ error[0] }}
    %div.right_button
        %a class="btn btn-primary" href="/bots/{{ handler.bot.id }}" << Назад
    %h3
        Изменить обработку

    %form action="/handlers/{{ handler.id }}/update" method="post"
        %div.row
            %div.col-lg-4
                %h4 << Общие данные
                Общие данные по обработке

            %div.col-lg-8
                %div.row
                    %div.col-lg-12
                        %div class="form-group"
                            %label.control-label << Название обработки
                            %input.form-control disabled value="{{ handler.raw_name() }}"
                %div.row
                    %div.col-lg-12
                        %div class="form-group"
                            %label.control-label << Имя Бота исполнителя
                            %input.form-control disabled value="{{ handler.bot.name }}"
                %div.row
                    %div.col-lg-6
                        %div class="form-group"
                            %label.control-label for="status" << Статус
                            %select.form-control id="status" name="status"
                                %option value="disabled" {{ 'selected="selected"' if handler.status == 'disabled' }}
                                    Отключен
                                %option value="enabled" {{ 'selected="selected"' if handler.status == 'enabled' }}
                                    Включен
                                %option value="expected" {{ 'selected="selected"' if handler.status == 'expected' }}
                                    Ожидается


                    %div.col-lg-6
                        %div class="form-group"
                            %label.control-label for="next_step" << Время повторения(минут)
                            %input.form-control id="next_step" name="next_step" type="text" value="{{ handler.next_step or "" }}"

        {% include 'handlers/options/' + handler.name + '.haml' ignore missing %}

        %hr
        %div.row
            %div.col-lg-10
                %input.btn.btn-primary name="commit" type="submit" value="Сохранить"
                %a.btn onclick="history.back(-2); return false;" << Назад
            %div.col-lg-2
                %a.btn.btn-warning href="/handlers/{{ handler.id }}/run_now" return false;" << Запустить сейчас


    {% include 'handlers/options/' + handler.name + '_info.haml' ignore missing %}

{% endblock%}
