{% extends "layouts/application.haml" %}
{% block body %}
    %div.right_button
        %a class="btn btn-warning" href="/handlers/{{ handler.id }}/edit" << Редактировать
    %h3
        Обработка: #
        = handler.id

    %div.panel.panel-default
        %div.panel-heading
            Информация
        %div.panel-body
            %table.table.table-hover.table-striped
                %tr
                    %th << Акаунт
                    %td << {{ handler.bot.name }}
                %tr
                    %th << Название
                    %td << {{ handler.raw_name() }}
                %tr
                    %th << Статус
                    %td << {{ handler.raw_status() }}


    %div.panel.panel-default
        %div.panel-heading
            Выполнения
        %div.panel-body
            %table.table.table-hover.table-striped
                %thead
                    %tr
                        %th << #
                        %th << Начало
                        %th << Окончание
                        %th << Сообщения
                        %th
                        %th


                %tbody

                    -for task in tasks:
                        %tr
                            %td << {{ task.id }}
                            %td << {{ task.created_at }}
                            %td << {{ task.finished_at or '' }}
                            %td
                                %span style="color:#00ff04;" << {{ log_by_status(task, 'success').count() }}
                                \/
                                %span style="color:#ff7b7b;" << {{ log_by_status(task, 'error').count() }}
                                \/
                                %span style="color:#ff1100;" << {{ log_by_status(task, 'critical').count() }}
                            %td
                                %a class="btn btn-primary btn-xs" href="/tasks/{{ task.id }}/log" << Подробнее
                            %td
                                %a class="btn btn-danger btn-xs" href="/tasks/{{ task.id }}/destroy" << Удалить

{% endblock%}
