{% extends "layouts/application.haml" %}
{% block body %}
    %div.right_button
        %a class="btn btn-success" href="/handlers/{{ task.handler.id }}" << Назад
    %h3
        Выполнение задачи: #
        = task.id

    %div.panel.panel-default
        %div.panel-heading
            Информация
        %div.panel-body
            %table.table.table-hover.table-striped
                %tr
                    %th << Акаунт
                    %td << {{ task.handler.bot.name }}
                %tr
                    %th << Название
                    %td << {{ task.handler.raw_name() }}
                %tr
                    %th << Статус
                    %td << {{ task.handler.raw_status() }}


    -if log_by_status(task, 'success').count():
        %div.panel.panel-default
            %div.panel-heading
                Успешное выполнение
            %div.panel-body
                %table.table.table-hover.table-striped
                    %thead
                        %tr
                            %th << #
                            %th << Время
                            %th << Сообщение

                    %tbody

                        -for log in log_by_status(task, 'success'):
                            %tr
                                %td << {{ log.id }}
                                %td << {{ log.created_at }}
                                %td << {{ log.message or '' }}

    -if log_by_status(task, 'error').count():
        %div.panel.panel-default
            %div.panel-heading
                Ошибки при выполнении
            %div.panel-body
                %table.table.table-hover.table-striped
                    %thead
                        %tr
                            %th << #
                            %th << Время
                            %th << Сообщение

                    %tbody

                        -for log in log_by_status(task, 'error'):
                            %tr
                                %td << {{ log.id }}
                                %td << {{ log.created_at }}
                                %td << {{ log.message or '' }}


    -if log_by_status(task, 'critical').count():
        %div.panel.panel-default
            %div.panel-heading
                Критические ошибки
            %div.panel-body
                %table.table.table-hover.table-striped
                    %thead
                        %tr
                            %th << #
                            %th << Время
                            %th << Сообщение
                            %th << Traceback

                    %tbody

                        -for log in log_by_status(task, 'critical'):
                            %tr
                                %td << {{ log.id }}
                                %td << {{ log.created_at }}
                                %td << {{ log.message or '' }}
                                %td << {{ (log.traceback or '').replace('\n', '<br />') }}

{% endblock%}
