{% extends "layouts/application.haml" %}
{% block body %}
    {% with instance=helper.instance %} {% include 'layouts/_error.haml' %} {% endwith %}

    %div.right_button
        %a class="btn btn-primary" href="/mass_reports/{{ helper.instance }}" << Назад

    -if helper.instance.is_new()
        %h3 << Добавить Массовую рассылку
    -else:
        %h3 << Изменить Массовую рассылку



    %form action="{{ helper.form_url }}" method="post"
        %div.row
            %div.col-lg-4
                %h4 << Информация о рассылке
            %div.col-lg-8
                %div.row
                    {{ helper.input(12, 'Название', 'name') }}
                %div.row
                    {{ helper.input(12, 'Адрес', 'url') }}
        %div.row
            %div.col-lg-4
                %h4 << Сообщения
                Разделить сообщения можно при помощи ---

            %div.col-lg-8
                %div.row
                    {{ helper.textarea(12, 'Сообщения', 'messages', rows=5) }}

        %div.row
            %div.col-lg-12
                %hr
                %input.btn.btn-primary name="commit" type="submit" value="Сохранить"
                %a.btn onclick="history.back(-2); return false;" << Назад

{% endblock%}
