{% extends "layouts/application.haml" %}
{% block body %}
    %div.right_button
        %a class="btn btn-primary" href="/mass_reports/new" << Добавить рассылку
    %h3 << Массовая рассылка

    %table.table.table-hover.table-striped
        %thead
            %tr
                %th.number << #
                %th << Имя
                %th << Статус
                %th << Город
                %th << Сообщений
                %th.action
                %th.action
        %tbody
            -for report in reports:
                %tr
                    %td
                        = report.id
                    %td
                        = report.name
                    %td
                        = report.raw_status()
                    %td
                        = report.city
                    %td
                        Не готово
                    %td
                        %a.btn.btn-xs.btn-primary href = "/mass_reports/{{ report.id }}" << Подробнее
                    %td
                        %a.btn.btn-xs.btn-warning href = "/mass_reports/{{ report.id }}/edit" << Изменить
{% endblock%}
