{% extends "layouts/application.haml" %}
{% block body %}
    %div.right_button
        %a class="btn btn-warning" href="/mass_reports/{{ report.id }}/edit" << Редактировать
    %h3
        Рассылка: #{{ report.id }}

    %div.panel.panel-default
        %div.panel-heading
            Информация
        %div.panel-body
            %table.table.table-hover.table-striped
                %tr
                    %th << Имя
                    %td colspan="2" << {{ report.name }}
                %tr
                    %th << Статус
                    %td colspan="2" << {{ report.raw_status() }}

    %div.panel.panel-default
        %div.panel-heading
            Сообщения
        %div.panel-body
            %table.table.table-hover.table-striped
                -for message in report.messages.split('---')
                    %tr
                        %td << {{ message }}

{% endblock%}
