{% extends "layouts/application.haml" %}
{% block body %}
    {% with instance=dobav %} {% include 'layouts/_error.haml' %} {% endwith %}

    %div.right_button
        %a class="btn btn-primary" href="/dobavs/{{ dobav }}" << Назад

    %h3 << Изменить Группу

    %form action="{{ url }}" method="post"

        %div.row
            %div.col-lg-4
                %h4 << Данные группы
                Введите данные группы. В дальнейшем данные будут обновляться автоматически

            %div.col-lg-8
                %div.row
                    %div.col-lg-12
                        %div class="form-group"
                            %label.control-label for="name" << Название
                            %input.form-control id="name" name="name" type="text" value="{{ dobav.name or '' }}"
                %div.row
                    %div.col-lg-6
                        %div class="form-group"
                            %label.control-label for="url" << Адрес
                            %input.form-control id="url" name="url" type="text" value="{{ dobav.url or '' }}"
                    %div.col-lg-6
                        %div class="form-group"
                            %label.control-label for="count" << Количество
                            %input.form-control id="count" name="count" type="text" value="{{ dobav.count or ''}}"
                %div.row
                    {{ helper.select(6, 'Статус', 'status', statuses) }}
                    {{ helper.input(6, 'Последнее обновление', 'updated_at') }}


        %div.row
            %div.col-lg-4
                %h4 << Доп. информация
                Дополнительная информация, которая не участвует в обработке.
                Но могут содержать полезную информацию.

            %div.col-lg-8
                %div.row
                    %div.col-lg-12
                        %div.form-group
                            %label.control-label for="info" << Дополнительная информация
                            %textarea.form-control id="info" name="info" rows="5    "
                                = dobav.info or ''


        %div.row
            %div.col-lg-12
                %hr
                %input.btn.btn-primary name="commit" type="submit" value="Сохранить"
                %a.btn onclick="history.back(-2); return false;" << Назад



{% endblock%}
