{% extends "layouts/application.haml" %}
{% block body %}

    %h3 << Группы Пиара

    %div.well
        %form action="/dobavs" method="get"
            %div.row
                %div.col-lg-4
                    %div class="form-group"
                        %label.control-label for="status" << Статус
                        %select class="form-control" id="status" name="status"
                            -for k, v in filter.get('statuses').items()
                                -if k == filter.get('status')
                                    %option value="{{k}}" selected="selected" << {{ v }}
                                -else
                                    %option value="{{k}}" << {{v}}

                %div.col-lg-2
                    %div class="form-group"
                        %br
                        %input.btn.btn-primary type="submit" value = "Поиск"
                %div.col-lg-2

    %table.table.table-hover.table-striped
        %thead
            %tr
                %th.number << #
                %th << Название
                %th << Адрес
                %th << Количество
                %th.action
                %th.action
        %tbody
            -for group in dobavs:
                %tr
                    %td
                        = group.id
                    %td
                        = group.name
                    %td
                        %a href = "{{ group.url }}" << {{ group.url }}
                    %td
                        = group.count
                    %td
                        = group.raw_status()
                    %td
                        %a.btn.btn-xs.btn-warning href = "/dobavs/{{ group.id }}/edit" << Изменить
                    %td
                        %a.btn.btn-xs.btn-danger href = "/dobavs/{{ group.id }}/delete" << Удалить

{% endblock%}
