%form action="{{ url }}" method="post"
    %div.row
        %div.col-lg-4
            %h4 << Владелец

        %div.col-lg-8
            %div.row
                %div.col-lg-12
                    %div class="form-group"
                        %label.control-label << Имя владельца
                        -if bot.is_new()
                            %input.form-control disabled value="{{ current_user.name }}"
                        -else:
                            %input.form-control disabled value="{{ bot.user.name }}"

    %div.row
        %div.col-lg-4
            %h4 << Данные бота

        %div.col-lg-8
            %div.row
                %div.col-lg-12
                    %div class="form-group"
                        %label.control-label for="name" << Имя бота
                        %input.form-control id="name" name="name" type="text" value="{{ bot.name or '' }}"
            %div.row
                %div.col-lg-6
                    %div class="form-group"
                        %label.control-label for="login" << Логин
                        %input.form-control id="login" name="login" type="text" value="{{ bot.login or ''}}"
                %div.col-lg-6
                    %div class="form-group"
                        %label.control-label for="password" << Пароль
                        %input.form-control id="password" name="password" type="text" value="{{ bot.password or ''}}"

    %div.row
        %div.col-lg-4
            %h4 << Статус
            Выполнение задач будет только при активном статусе

        %div.col-lg-8
            %div.row
                %div.col-lg-6
                    %div.form-group
                        %label.control-label for="status" << Статус
                        %select.form-control id="status" name="status"
                            %option value="active" {{ 'selected="selected"' if bot.status == 'active' }}
                                Активен
                            %option value="stoped" {{ 'selected="selected"' if bot.status == 'stoped' }}
                                Остановлен
                            %option value="frozen" {{ 'selected="selected"' if bot.status == 'frozen' }}
                                Заблокирован

    %div.row
        %div.col-lg-4
            %h4 << Доп. информация
            Дополнительная информация, которая не участвует в обработке. Но имеет полезную информацию.

        %div.col-lg-8
            %div.row
                %div.col-lg-12
                    %div.form-group
                        %label.control-label for="info" << Дополнительная информация
                        %textarea.form-control id="info" name="info" rows="5    "
                            = bot.info

    %div.row
        %div.col-lg-12
            %hr
            %input.btn.btn-primary name="commit" type="submit" value="Сохранить"
            %a.btn onclick="history.back(-2); return false;" << Назад
