{% extends "layouts/application.haml" %}
{% block body %}
    -if bot.errors:
        %div.alert.alert-danger
            -for error in bot.errors.values():
                %p << {{ error[0] }}
    %div.right_button
        %a class="btn btn-primary" href="/bots/{{ bot }}" << Назад
    %h3
        Изменить бота

    {% include 'bots/_form.haml'%}

{% endblock%}
