{% extends "layouts/application.haml" %}
{% block body %}
    %div.right_button
        %a class="btn btn-primary" href="/bots/new" << Добавить аккаунт
    %h3 << Аккаунты

    %table.table.table-hover.table-striped
        %thead
            %tr
                %th.number << #
                %th << Имя
                %th << Статус
                %th.action
                %th.action
        %tbody
            -for bot in bots:
                %tr
                    %td
                        = bot.id
                    %td
                        = bot.name
                    %td
                        = bot.raw_status()
                    %td
                        %a.btn.btn-xs.btn-primary href = "/bots/{{ bot.id }}" << Подробнее
                    %td
                        %a.btn.btn-xs.btn-warning href = "/bots/{{ bot.id }}/edit" << Изменить
{% endblock%}
