{% extends "layouts/application.haml" %}
{% block body %}
    -if bot.errors:
        %div.alert.alert-danger
            -for error in bot.errors.values():
                %p << {{ error[0] }}

    {% include 'bots/_form.haml'%}

{% endblock%}
