{% extends "layouts/application.haml" %}
{% block body %}
    %div.right_button
        %a class="btn btn-warning" href="/bots/{{ bot.id }}/edit" << Редактировать
    %h3
        Аккаунт: #{{ bot.id }}

    %div.panel.panel-default
        %div.panel-heading
            Информация
        %div.panel-body
            %table.table.table-hover.table-striped
                %tr
                    %th << Владелец
                    %td << {{ bot.user.name }}
                %tr
                    %th << Имя
                    %td << {{ bot.name }}
                %tr
                    %th << Логин
                    %td << {{ bot.login }}
                %tr
                    %th << Пароль
                    -if bot.user == current_user:
                        %td << {{ bot.password }}
                %tr
                    %th << Статус
                    %td << {{ bot.raw_status() }}

    %div.panel.panel-default
        %div.panel-heading
            Статистика за последние дни
        %div.panel-body
            %table.table.table-hover.table-striped
                %thead
                    %tr
                        %th << Название
                        -for day in stats['days']:
                            %th << {{ day }}

                %tbody
                    -for key, values in stats['values'].items():
                        %tr
                            %td << {{ key }}
                            -for value in values:
                                %td << {{ value or '' }}

    %div.panel.panel-default
        %div.panel-heading
            Обработки
        %div.panel-body
            %table.table.table-hover.table-striped
                %thead
                    %tr
                        %th << Название
                        %th << Статус
                        %th << Последний запуск
                        %th << Следующий запуск
                        %th << Ошибок
                        %th
                        %th
                %tbody

                    -for handler in handlers:
                        %tr class="{{ "success" if handler.status == 'enabled' }}"
                            %td << {{ handler.raw_name() }}
                            %td << {{ handler.raw_status() }}
                            %td << {{ handler.last_run }}
                            %td << {{ handler.next_run if handler.status == 'enabled' }}
                            %td
                                %span style="color:#ff1100" << {{ error_helper(handler) }}
                            %td
                                %a class="btn btn-warning btn-xs" href="/handlers/{{ handler.id }}/edit"
                                    Редактировать
                            %td
                                %a class="btn btn-info btn-xs" href="/handlers/{{ handler.id }}" << Просмотр

{% endblock%}
