{% extends "layouts/application.haml" %}
{% block body %}

    %div.panel-body
        %ul.nav.nav-tabs
            %li.active
                %a href="/groups" << Группы
            %li
                %a.active href="#" << Теги

    %div.right_button
        %a class="btn btn-primary" href="/tags/new" << Добавить Тег
    %h3 << Теги

    %table.table.table-hover.table-striped
        %thead
            %tr
                %th.number << #
                %th << Название
                %th << Количество
                %th.action
                %th.action
        %tbody
            -for tag in tags:
                %tr
                    %td
                        = tag.id
                    %td
                        = tag.name
                    %td
                        = tag.groups.count()
                    %td
                        %a.btn.btn-xs.btn-warning href = "/tags/{{ tag.id }}/edit" << Изменить
                    %td
                        %a.btn.btn-xs.btn-danger href = "/tags/{{ tag.id }}/edit" << Удалить
{% endblock%}