{% extends "layouts/session.haml" %}
{% block body %}
    %hr
    %div.row style='width: 100%'
        %div.col-lg-4
        %div.col-lg-4
            %h3 << Авторизация
            %form action="{{ url_for('sessions_create') }}" method="post"

                %div.form-group
                    %label class="control-label" for="user_login" << E-mail
                    %input class="form-control" id="user_login" name="user[login]" type="text" value=""

                %div.form-group
                    %label class="control-label" for="user_password" << Пароль
                    %input class="form-control" id="user_password" name="user[password]" type="password" value=""

                %div.form-group
                    %input.right.btn.btn-primary name="commit" type="submit" value="Войти"
        %div.col-lg-4
    %hr
{% endblock %}
