{% extends "layouts/application.haml" %}
{% block body %}
    {% with instance=group %} {% include 'layouts/_error.haml' %} {% endwith %}

    %div.right_button
        %a class="btn btn-primary" href="/groups/{{ group }}" << Назад

    -if group.is_new()
        %h3 << Добавить Группу
    -else:
        %h3 << Изменить Группу

    %form action="{{ url }}" method="post"
        %div.row
            %div.col-lg-4
                %h4 << Пользователь
                Пользователь добавивший группу

            %div.col-lg-8
                %div.row
                    %div.col-lg-12
                        %div class="form-group"
                            %label.control-label << Пользователь
                            -if group.is_new()
                                %input.form-control disabled value="{{ current_user.name }}"
                            -else:
                                %input.form-control disabled value="{{ group.user.name }}"

        %div.row
            %div.col-lg-4
                %h4 << Данные группы
                Введите данные группы. В дальнейшем данные будут обновляться автоматически

            %div.col-lg-8
                %div.row
                    %div.col-lg-12
                        %div class="form-group"
                            %label.control-label for="name" << Название
                            %input.form-control id="name" name="name" type="text" value="{{ group.name or '' }}"
                %div.row
                    %div.col-lg-12
                        %div class="form-group"
                            %label.control-label for="url" << Адрес
                            %input.form-control id="url" name="url" type="text" value="{{ group.url or '' }}"
                %div.row
                    %div.col-lg-6
                        %div class="form-group"
                            %label.control-label for="group_id" << ID Группы
                            %input.form-control id="group_id" name="group_id" type="text" value="{{ group.group_id or ''}}"
                    %div.col-lg-6
                        %div class="form-group"
                            %label.control-label for="count" << Количество
                            %input.form-control id="count" name="count" type="text" value="{{ group.count or ''}}"

        %div.row
            %div.col-lg-4
                %h4 << Доп. информация
                Дополнительная информация, которая не участвует в обработке.
                Но могут содержать полезную информацию.

            %div.col-lg-8
                %div.row
                    %div.col-lg-12
                        %div.form-group
                            %label.control-label for="info" << Дополнительная информация
                            %textarea.form-control id="info" name="info" rows="5    "
                                = group.info

        %div.row
            %div.col-lg-4
                %h4 << Теги
                Выберете теги подходящие данной группе. Теги нужны для удобства поиска при
                добавлении в обработчиках

            %div.col-lg-8
                %div.row
                    %div.col-lg-6



        %div.row
            %div.col-lg-12
                %hr
                %input.btn.btn-primary name="commit" type="submit" value="Сохранить"
                %a.btn onclick="history.back(-2); return false;" << Назад

{% endblock%}
