{% extends "layouts/application.haml" %}
{% block body %}

    %div.panel-body
        %ul.nav.nav-tabs
            %li.active
                %a href="#" << Группы
            %li
                %a href="/tags" << Теги

    %div.right_button
        %a class="btn btn-primary" href="/groups/new" << Добавить Группу
    %h3 << Группы

    %table.table.table-hover.table-striped
        %thead
            %tr
                %th.number << #
                %th << Название
                %th << Адрес
                %th << Количество
                %th.action
                %th.action
        %tbody
            -for group in groups:
                %tr
                    %td
                        = group.id
                    %td
                        = group.name
                    %td
                        = group.url
                    %td
                        = group.count
                    %td
                        %a.btn.btn-xs.btn-warning href = "/groups/{{ group.id }}/edit" << Изменить
                    %td
                        %a.btn.btn-xs.btn-danger href = "/groups/{{ group.id }}/delete" << Удалить
{% endblock%}
