%div.row
    %div.col-lg-12
        %br
        %div.alert.alert-info
            Приглашение другей в определенное сообщество
            %br
            %br

            %h4
                Описание дополнилельных параметров
            %b
                Поисковой фильтр -
            Полный список друзей, которых можно пригласить в группу. Для получения адреса нажмите "Пригласить друзей", в открывшемся окне внизу будет ссылка "Пригласить друзей из полного списка", после ее нажатия появится полный список друзей, адрес этой страницы и нужно указать в парметре.
            %br
            %br

            %h4
                Рекоммендации
            Пока нет рекомендаций
