%div.row
    %div.col-lg-12
        %br
        %div.alert.alert-info
            Постановка лайков, пользователям которые выбраны по определенному поиску.
            %br
            %br

            %h4
                Описание дополнилельных параметров
            %b
                Поисковой фильтр -
            Это стандартный поиск в VK людей, из общего списка, собщества и т.д.
            %br
            %b
                Количество людей -
            Количество людей, которые будут взяты из поика, и которым будут проставлены лайки.
            %br
            %b
                Количество лайков -
            Количество лайков проставляемое на странице найденого пользователя: 1 - только главное фото, 2,3,... - лайки на записи на странице, 1,2,... соответственно.
            %br
            %br

            %h4
                Рекоммендации
            В день должно быть не больше 250 лайков
            Пользователи, у которых больше 100 лайков игнорируются, в будущем будет вынесено в параметры
            В фильтре желательно выбирать, сортировку по дате регистрации, с фотографией, сейчас на сайте
