%div.row
    %div.col-lg-4
        %h4 << Дополнительные настройки
        Дополнительные настройки, которые необходимы для выполнения обработки. Все поля обязательны для заполнения
    %div.col-lg-8
        %div.row
            %div.col-lg-12
                %div.form-group
                    %label.control-label for="search" << Поисковой фильтр
                    %input.form-control id="search" name="search" type="text" value="{{ handler.value_option('search') }}"

        %div.row
            %div.col-lg-6
                %div.form-group
                    %label.control-label for="count" << Количество людей
                    %input.form-control id="count" name="count" type="text" value="{{ handler.value_option('count') }}"
            %div.col-lg-6
                %div.form-group
                    %label.control-label for="count_like" << Количество лайков
                    %input.form-control id="count_like" name="count_like" type="text" value="{{ handler.value_option('count_like') }}"
