%div.row
    %div.col-lg-4
        %h4 << Дополнительные настройки
        Дополнительные настройки, которые необходимы для выполнения обработки. Все поля обязательны для заполнения
    %div.col-lg-8
        %div.row
            {{ helper.select(12, 'Массовая рассылка', 'mass_report_id', mass_reports, handler.value_option('search')) }}
