%div.row
    %div.col-lg-4
        %h4 << Дополнительные настройки
        Дополнительные настройки, которые необходимы для выполнения обработки. Все поля обязательны для заполнения.
    %div.col-lg-8
        %div.row
            %div.col-lg-6
                %div.form-group
                    %label.control-label for="count" << Количество
                    %input.form-control id="count" name="count" type="text" value="{{ handler.value_option('count') }}"
        %div.row
            %div.col-lg-12
                %div.form-group
                    %label.control-label for="messages" << Сообщения
                    %textarea.form-control id="messages" name="messages" rows="5"
                        = handler.value_option('messages')
